{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
    <div class="container backgroundLogin">
        <div class="loginHeader">
            <img style="margin-bottom: 25px;" class="logoResponsive" src="{% static 'capstone/images/HomepageLogo.png' %}">
            <h1 style="color:whitesmoke">Restore Password</h1>
            <h6 style="color: lightgrey">Create a new password for your account</h6>
            {% if message %}
                <div style="margin-top:10%" class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
        </div>
        <form action="{% url 'createNewPasswordRecover' %}" method="POST">
                {% csrf_token %}
                {% if 'recoverId' in request.GET %}
                    <input name="recoverId" value="{{ request.GET.recoverId }}" hidden>
                    {% elif recoverId %}
                    <input name="recoverId" value="{{ recoverId }}" hidden>
                {% endif %}
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <img id="eyeIcon" class="eyeField" src="{% static 'capstone/images/eye-slash-fill.svg' %}">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="confirmation" class="form-control" placeholder="Confirm Password">
                    <img id="eyeIcon2" class="eyeField" src="{% static 'capstone/images/eye-slash-fill.svg' %}">
                    <label for="confirmation">Confirm Password</label>
                </div>
            <input style="margin-bottom:0px;" type="submit" class="btn btn-primary" value="Restore Password">
        </form>
    </div>
    <script src="{% static 'capstone/scripts/common.js' %}" type="text/javascript"></script>
{% endblock %}