{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
    <div class="container backgroundLogin">
        <div class="loginHeader">
            <img style="margin-bottom: 25px;" class="logoResponsive" src="{% static 'capstone/images/homepageLogo.png' %}">
            <h1 style="color:whitesmoke">Recover Password</h1>
            <h6 style="color: lightgrey">Recover your password inserting your username or e-mail</h6>
            {% if message %}
                <div style="margin-top:10%" class="alert alert-warning" role="alert">{{ message }}</div>
            {% endif %}
        </div>
        <form action="{% url 'passwordRecover' %}" method="POST">
            <div class="form-floating">
                {% csrf_token %}
                <input name="recoverText" class="form-control" placeholder="Your username or e-mail">
                <label for="recoverText">Your username or e-mail</label>
            </div>
            <input style="margin-bottom:0px; margin-top:20px;" type="submit" class="btn btn-primary" value="Send e-mail">
        </form>
    </div>

{% endblock %}
